@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&display=swap');

body {
    font-family: $f-sans;
    background-color: $c-light;
    color: $c-dark;
}

a {
    color: $c-dark;
}